
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  max-width: 550px;
  min-width: 230px;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.todo__title {
  font-size: 70px;
  text-align: center;
}

.todo__app {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 #0003,0 25px 50px 0 #0000001a;
}